.main {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.table {
  width: 100%;
  margin-top: 20px;
}

.table > thead {
  font-weight: 700;
  font-size: 1.5rem;
}

.image {
  width: 100px;
  height: 100%;
}
